@page "/json-positions"
@using ET.Web.Services
@inject IEmployeeService EmployeeService

<h3>Upload Positions</h3>
<div class="alert alert-info">JSON structure: "positions": [ "name1", "name2", ... ]</div>
<InputFile OnChange="@HandleFile" accept=".json"/>
@if (!string.IsNullOrEmpty(_validationMessage))
{
    <div class="validation-message">
        <p>@_validationMessage</p>
    </div>
}
@if (_positions != null)
{
    <button @onclick="UploadJson">Upload</button>
} 
<div class="response-content">
    @if (_responseContent != null)
    {
        <div><pre>@_responseContent</pre></div>
    }
</div>
